oracle.install.responseFileVersion=/oracle/install/rspfmt_dbinstall_response_schema_v19.0.0
oracle.install.option=INSTALL_DB_SWONLY
UNIX_GROUP_NAME={{ OSOTHERS_GROUP }}
INVENTORY_LOCATION={{ oracle_inventory }}
SELECTED_LANGUAGES=en
ORACLE_HOME={{ oracle_home }}
ORACLE_BASE={{ oracle_base }}
oracle.install.db.InstallEdition={{ Installedition }}
oracle.install.db.OSDBA_GROUP={{ DBA_GROUP }}
oracle.install.db.OSOPER_GROUP={{ OPER_GROUP }} 
oracle.install.db.OSBACKUPDBA_GROUP={{ OSOTHERS_GROUP }}
oracle.install.db.OSDGDBA_GROUP={{ OSOTHERS_GROUP }}
oracle.install.db.OSKMDBA_GROUP={{ OSOTHERS_GROUP }}
oracle.install.db.OSRACDBA_GROUP={{ DBA_GROUP }}
oracle.install.db.CLUSTER_NODES={{ NODES }}
oracle.install.db.isRACOneInstall=false 
oracle.install.db.rac.serverpoolCardinality=0 
oracle.install.db.config.starterdb.type=GENERAL_PURPOSE
SECURITY_UPDATES_VIA_MYORACLESUPPORT=false
DECLINE_SECURITY_UPDATES=true
oracle.installer.autoupdates.option=SKIP_UPDATES

