responseFileVersion=/oracle/assistants/rspfmt_dbca_response_schema_v19.0.0
gdbName=eaymd
sid=eaymd
databaseConfigType=RAC
RACOneNodeServiceName=
policyManaged=false
createServerPool=false
serverPoolName=
cardinality=
force=false
pqPoolName=
pqCardinality=
createAsContainerDatabase=true
numberOfPDBs=1
pdbName=pinkpdb
useLocalUndoForPDBs=true
pdbAdminPassword=Oracle123
nodelist=ora-x1,ora-x2
templateName=/u02/app/oracle/product/19.3.0/db300/assistants/dbca/templates/General_Purpose.dbc
sysPassword=Oracle123
systemPassword=Oracle123
serviceUserPassword=
emConfiguration=
emExpressPort=5500
runCVUChecks=TRUE
dbsnmpPassword=Oracle123
omsHost=
omsPort=0
emUser=
emPassword=
dvConfiguration=false
dvUserName=
dvUserPassword=
dvAccountManagerName=
dvAccountManagerPassword=
olsConfiguration=false
datafileJarLocation=
datafileDestination=+DATA
recoveryAreaDestination=+RECO
storageType=ASM
diskGroupName=+DATA
asmsnmpPassword=Oracle123
recoveryGroupName=
characterSet=AL32UTF8
nationalCharacterSet=AL16UTF16
registerWithDirService=false
dirServiceUserName=
dirServicePassword=
walletPassword=
listeners=LISTENER
variablesFile=
sampleSchema=false
databaseType=MULTIPURPOSE
automaticMemoryManagement=false
totalMemory=1200
